.add-favorite-button {
    background-color: #ffcccb;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-favorite-button:hover {
    background-color: #ff9999;
  }
  .full-recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }  